@import "animate.min.css";
@import "fonts.css";
@import "font-awesome.css";
@import "swiper-bundle.min.css";
@import "common.css";
@import "default.css";

/* 로고 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap');

/* 헤더 */
#header { display: flex; justify-content: space-between; align-items: center;}
#header .header-tit {}
#header .header-tit h1 { font-size: 24px; color: #fff; font-family: 'Cormorant Upright', serif;}

#header .header-menu { }
.header-menu .menu {}
.header-menu .menu ul {}
.header-menu .menu ul li { display: inline; padding: 4px 28px; }
.header-menu .menu ul li a { color: #fff; transition: 0.3s; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s;}
.header-menu .menu ul li a:hover { color: #ffc0cb;}

#header .login { }
.login ul {}
.login ul li { display: inline; padding: 4px 14px; }
.login ul li a { color: #fff;}

/* 컨텐츠 섹션 */

/* 푸터 */
#footer { border-top: 1px solid #dbdbdb }
.footer { text-align: center; padding: 20px 50px; font-size: 10px;}
.footer li { position: relative; display: inline; padding: 0 7px 0 10px; white-space: nowrap;}
.footer address { padding-top: 15px;}
.footer li:before { content: ''; width: 1px; height: 12px; background-color: #dbdbdb; position: absolute; left:0; top: 2px;}
.footer li:first-child:before { width: 0; }


