@import "animate.min.css";
@import "fonts.css";
@import "font-awesome.css";
@import "common.css";
@import "default.css";

/* 로고 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap');

/* 헤더 */
#header { width: 100%; padding: 30px 50px 30px 50px; display: flex; justify-content: space-between; align-items: center;}
#header .header { width: 100%; max-width: 1280px; display: flex; align-items: center;}
#header .header-tit h1 { font-size: 28px; color: #000; font-family: 'Cormorant Upright', serif;}

.header-menu .menu ul { margin-left: 32px; }
.header-menu .menu ul li { position: relative; display: inline; cursor: pointer; width: 120px; padding: 4px 20px;}
.header-menu .menu ul li:before { 
    content: "";
    width: 85%;
    height: 2px;
    background-color: #ffc0cb;
    position: absolute;
    bottom: 0;
    left: 9px;
    opacity: 0;
    transition: 0.5s; 
    -webkit-transition: 0.5s;
    -ms-transition-duration: 0.5s;
}
.header-menu .menu ul li:hover:before { opacity: 1; }
.header-menu .menu ul li:hover b { opacity: 1;}
.header-menu .menu ul li a { position: relative; font-size: 12px; color: #000; }
.header-menu .menu ul li b { position: absolute; top: -19px; right: 6.9px; opacity: 0; font-weight: 400; font-size: 10px; color: #000; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition-duration: 0.5s;}

.login ul { width: 100px;}
.login ul li { position: relative; display: inline; padding: 4px 14px; }
.login ul li:first-child:before { 
    content: "";
    width: 1px;
    height: 12px;
    background-color: #dbdbdb;
    position: absolute;
    top: 9px;
    right: -2px;
 }
.login ul li a { color: #000;}

/* 컨텐츠 섹션 */


 /* swiper */
 .swiper { width: 100%; height: 600px;}
 .swiper .ss1 { background: url(../img/background.jpeg) no-repeat center center; background-size: cover;}
 .swiper .ss2 { background: url(../img/background.jpeg) no-repeat center center; background-size: cover;}
 .swiper .ss3 { background: url(../img/background.jpeg) no-repeat center center; background-size: cover;}
 .swiper .ss4 { background: url(../img/test.jpg) no-repeat center center; background-size: cover;}
 .swiper .ss5 { background: url(../img/background.jpeg) no-repeat center center; background-size: cover;}
 .swiper .ss6 { background: url(../img/background.jpeg) no-repeat center center; background-size: cover;}

/* map */
#map_section { margin: 0 auto; text-align: center; }
.marker_info {
    width: 200px;
    border: 0.5px solid #000;
    background-color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
}
.marker_info > h6 { font-size: 5px;}

/* freefood view */
.free_wrap { display: flex; justify-content: space-between; flex-direction: column;}
.free_wrap .free_tit h2 { font-size: 24px; font-weight: 500; }
.free_wrap .free_cont { margin: 30px 0 10px 0; }
.free_cont ul { display: flex; justify-content: center; flex-wrap: wrap;}
.free_cont ul li { position: relative; width: 300px; height: 275px; padding: 19px 25px; margin: 0 0 20px 20px; border: 1px solid #e0e0e0;}
.free_cont ul li:first-child { margin-left: 0;}
.free_cont ul li:nth-child(4) { margin-left: 0;}
.free_cont ul li a { text-align: left; line-height: 2;}
.free_cont ul li a dl dt { font-size: 18px; font-weight: 400;}
.free_cont ul li a dl dd { font-size: 16px; font-weight: 300;}
.free_cont ul li a .picture { text-align: right;}
.free_cont ul li a .picture img { position: absolute; bottom: 7px; right: 7px; width: 125px; height: 125px; border-radius: 100%; border: 3px solid #ddd; }

/* article */

.row .col-lg-4 img {
    max-width: 100%;
    max-height: 250px;
    text-align: left;
  }
  
  .row .col-lg-8 p {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  
  .row .col-lg-8 h2 { font-weight: 500;}
  .row .col-lg-8 a {
    text-decoration: none;
    color: #000;
  }
  
  .row .col-lg-8 a:hover {
    color: #ffc0cb;
  }
  
  .row .col-lg-8 span {
    padding-right: 1em;
    font-weight: bold;
    font-size: 9px;
  }
  
  .row .col-lg-8 strong {
    font-size: 9px;
  }
  .row .col-lg-8 div:nth-child(3) { font-size: 9px; }
  
  .news {
    border-bottom: 1px solid #dbdbdb;
    padding: 1em 3em;
    text-align: left;
  }

  .pagination { display: flex; justify-content: center; font-size: 13px;} 
  .pagination .page-item { padding: 0 0 10px 10px;}
  .pagination li:last-child { padding-left: 10px;}


/* 푸터 */
#footer { width: 100%; border-top: 1px solid #dbdbdb }
.footer { max-width: 1280px; text-align: center; padding: 20px 50px; font-size: 10px;}
.footer li { position: relative; display: inline; padding: 0 7px 0 10px; white-space: nowrap;}
.footer address { padding-top: 15px;}
.footer li:before { content: ''; width: 1px; height: 12px; background-color: #dbdbdb; position: absolute; left:0; top: 2px;}
.footer li:first-child:before { width: 0; }

/* 로딩 바 */

.box {
    display: inline-block;
    position: absolute; 
    top: 200px;
    left: 400px;
    height: 200px;
    width: 33.3%;
    /*margin:0 -4px -5px -2px;*/
    transition: all .2s ease;
    background-color: #ffc0cb;
    border-radius: 50px;
  }

  .loader4{
    position: relative;
    width: 150px;
    height: 20px;
    top: 45%;
    top: -webkit-calc(50% - 10px);
    top: calc(50% - 10px);
    left: 25%;
    left: -webkit-calc(50% - 75px);
    left: calc(50% - 75px);
    background-color: rgba(255,255,255,0.2);
  }

  .loader4 span { color: #fff; }
  
  .loader4:before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 0px;
    z-index: 0;
    opacity: 1;
    -webkit-transform-origin:  100% 0%;
        transform-origin:  100% 0% ;
    -webkit-animation: loader4 10s ease-in-out infinite;
        animation: loader4 10s ease-in-out infinite;
  }
  
  .loader4:after{
    content: "LOADING ...";
    color: #fff;
    font-family:  Lato,"Helvetica Neue" ;
    font-weight: 200;
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    left: 0;
    top: 0;
  }
  
  @-webkit-keyframes loader4{
      0%{width: 0px;}
      70%{width: 100%; opacity: 1;}
      90%{opacity: 0; width: 100%;}
      100%{opacity: 0;width: 0px;}
  }
  
  @keyframes loader4{
      0%{width: 0px;}
      70%{width: 100%; opacity: 1;}
      90%{opacity: 0; width: 100%;}
      100%{opacity: 0;width: 0px;}
  }


