<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeniorWS</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="wrap">
        <div id="inner">
            <header id="header">
                <div class="header">
                        <div class="header-tit">
                        <h1 class="ir_pm">로고</h1>
                        <h1><a href="/">Senior-Welfare-Service</a></h1>
                    </div>
                    <div class="header-menu">
                        <nav class="menu">
                            <h2 class="ir_su">메뉴</h2>
                            <ul>
                            <li><a href="welfare_status"><b>복지 센터 현황</b>Welfare-Status</a></li> 
                            <li><a href="news"><b>노인 관련 이슈</b>News & Issues</a></li> 
                            <li><a href="work_info"><b>일자리 현황</b>Work-INFO</a></li> 
                            <li><a href="free">무료급식소 현황</a></li> 
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="login">
                    <ul>
                        <li><a href="#"><span class="ir_su">로그인</span><i class="fa fa-sign-in" aria-hidden="true" title="로그인"></i></a></li>
                        <li><a href="#"><span class="ir_su">회원가입</span><i class="fa fa-user-plus" aria-hidden="true" title="회원가입"></i></a></li>
                    </ul>
                </div>
            </header>
            <section id="section">
                <div class="free_wrap">
                    <div class="free_tit">
                        <h2>무료급식소 운영</h2>
                    </div>
                    <div class="free_cont">
                        <ul>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>이름</dt>
                                        <dd>
                                            전화번호 <br>
                                            푸드타임 <br>
                                            언제언제 
                                        </dd>
                                    </dl>
                                    <p class="picture"><img src="img/test.jpg" alt=""></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>이름</dt>
                                        <dd>
                                            전화번호 <br>
                                            푸드타임 <br>
                                            언제언제 
                                        </dd>
                                    </dl>
                                    <p class="picture"><img src="img/test.jpg" alt=""></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>이름</dt>
                                        <dd>
                                            전화번호 <br>
                                            푸드타임 <br>
                                            언제언제 
                                        </dd>
                                    </dl>
                                    <p class="picture"><img src="img/test.jpg" alt=""></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>이름</dt>
                                        <dd>
                                            전화번호 <br>
                                            푸드타임 <br>
                                            언제언제 
                                        </dd>
                                    </dl>
                                    <p class="picture"><img src="img/test.jpg" alt=""></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>이름</dt>
                                        <dd>
                                            전화번호 <br>
                                            푸드타임 <br>
                                            언제언제 
                                        </dd>
                                    </dl>
                                    <p class="picture"><img src="img/test.jpg" alt=""></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <dl>
                                        <dt>이름</dt>
                                        <dd>
                                            전화번호 <br>
                                            푸드타임 <br>
                                            언제언제 
                                        </dd>
                                    </dl>
                                    <p class="picture"><img src="img/test.jpg" alt=""></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <footer id="footer">
            <div class="footer">
                <ul>
                    <li><a href="#">사이트 도움말</a></li>
                    <li><a href="#">사이트 이용약관</a></li>
                    <li><a href="#">사이트 운영원칙</a></li>
                    <li><a href="#"><strong>개인정보취급방침</strong></a></li>
                    <li><a href="#">책임의 한계와 법적고지</a></li>
                    <li><a href="#">게시중단요청서비스</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
                <address>
                    Copyright ©
                    <a href="https://github.com/Donghyun-git"><strong>dongs</strong></a>
                    All Rights Reserved.
                </address>
            </div>
        </footer>
    </div>
    <script src="js/free.js"></script>
</body>
</html>